<div id="modalUpdateTodo" class="modal hide">
    <div class="modal-content">
       <div class="modal-header">
          <h2>Edit todo</h2>
          <span class="close">&times;</span>
       </div>
       <div class="edit-form">
          <input type='hidden' name="id"/>
          <input type='hidden' name="page"/>
          <div>
             <label>Title</label>
             <input name="title" class="title" type="text" />
          </div>
          <div>
             <label>Description</label>
             <textarea name="description" class="description"></textarea>
          </div>
          <div class="modal-footer">
             <input type="button" onclick="Todos.update(this)" value="Update"/>
             <button class="action-btn close">Close</button>
          </div>
       </div>
    </div>
 </div>